/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

body {
    font-family: "Poppins";
    font-size: 10px;
}


/* Header */
header {
    min-height: 56px;

}

/* Navigation */
.navDesktop{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 50;
    box-shadow: rgba(72, 72, 72, 0.283)  0 0 15px 5px ;
    
}

.navDesktop ul{ 
    display: flex;
    list-style: none;
    color: #f8f3dd;

}
.navDesktop ul li{
    padding: 0 40px;
}
.navDesktop ul li a{
    color: #323232;
    text-decoration: none; 
    margin-top: 20px;
    font-size: 2em;  
    text-align: center;
}

.navDesktop ul li a:hover{
    color: #60AA60;
    border-bottom: solid 1px #60AA60;

}

.nav__logo {
    width: 150px;
    height: 100%;
    display: block;

}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    margin: 0;
    position:absolute;
    width: 40px;
    height: 22px;
    left: -10px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 2.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0px, 1px);
    background-color: rgb(0, 0, 0);
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(0px, 0px);
    background-color: rgb(0, 0, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}


@keyframes slide {
    25%{
        background-image: url('../../img/OIL.jpg');
        background-size: cover;
        min-height: 600px;
        width: 100%;
        background-position: center;
    }
}
/* Hero Element */
.hero{
    min-height: 600px;
    width: 100%;
    background-image: url('../../img/OIP.jpg');
    background-size: cover;
    background-position: center;
    animation: slide 45s infinite;
    overflow: hidden;
 
}
.hero__judul{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 350px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__desc{
    display: flex;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    padding-left: 50px;
    margin-top: -20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Main */
main {
    width: 100%;
    margin: 0 auto;
    
}

.mandalika {
    display: flex;
    border-radius: 50px;
    background-color:#6E60A8;
    background-size: cover;
    width: 549px;
    height: 316px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.mandalika__desc {
    padding-left: 50px;
}
.mandalika__desc h1{
    font-weight: 700;
    font-size: 46px;
    margin-top: 100px;
    color: #6E60A8;
    
}
.mandalika__desc p{
    font-weight: 400;
    font-size: 25px;
    
}

.landing__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}

.judul {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    position: relative;
    color: #6E60A8;
    margin-top: 100px;

}
.wisata_detail_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.wisata_detail{
    display: flex;
    justify-content: center;
    width: 241px;
    height: 82px;   
    border-radius: 53px;
    box-shadow: rgba(0, 0, 0, 0.158)  0 -10px 20px 2px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.wisata_detail a{
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: #F58646;
}

.wisata_detail:active{
    background-color: #F58646;
}
.wisata_detail a:active{
    color: white;
}

.swiper{
    
}

.swiper-wrapper{
    margin-bottom: 120px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 50px 10px;
}

.swiper-slide{

}

.detail__item img{
    margin-top: 100px;
    width: 549px;
    height: 416px;
    border-radius: 50px;
    display: flex;
    margin-right: 50px;
}

.detail__item a{
    display: flex;
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
    color: #ffffff;
    margin-top: -100px;
    margin-left: 50px;
}

.hero__detail img{
    display: flex;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.detailed__container{
    border-bottom: 5px solid #323232;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.detailed__judul{
    color: #323232;
    padding-top: 10px;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.detailed__desc{
    color: #4e4e4e;
    font-weight: 400;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    text-align: justify;
    margin-bottom: 50px;
}

.content__container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.judul__form{
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
    display: flex;
    color: #6E60A8;
    border-bottom: solid 2px #000000;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.box-tengah{
    margin-top: 100px;
    width: 70%;
    height: 550px;
    background: #00000014;
    border-radius: 50px;
    justify-content: center;
}

.formSaran{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saranInput{
    width: 80%;
    height: 60px;
    background: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.submit{
    width: 20%;
    height: 50px;
    background:#F58646;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    margin-left: 600px;
    border: none;
}

footer {
    padding: 2em;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.158)  0 -10px 20px 2px ;
}
