<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    <link rel="stylesheet" href="../scripts/style/responsive.css">
    <link rel="stylesheet" href="../scripts/style/about.css">

</head>

<body>

    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>
                <ul class="nav__list">
                    <li><a href="../templates/wisata.html" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="../templates/saran.html" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
                <div class="menu-toggle">
                    <input type="checkbox">
                    <span class="m1"></span>
                    <span class="m2"></span>
                    <span class="m3"></span>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="about-judul">About Us</div>
        <div class="abt-cont">
        <figure class="snip0056 front">
            <figcaption>
              <h2>I Made <span>Adika</span> Bhavanta &nbsp; <span>F2014D063</span></h2>
              <p class="linkedin"><a href="">Linkedin</a></p>
              <p class="linkedin"><a href="">Github</a></p>
            </figcaption><img src="../img/dika.jpeg" alt="sample8" />
            <div class="position">Front-End Team</div>
          </figure>
          <figure class="snip0056 front">
            <figcaption>
              <h2><span>Clivent</span> Gerhard Sondakh&nbsp; <span>F2323D135</span></h2>
              <p class="linkedin"><a href="">Linkedin</a></p>
              <p class="linkedin"><a href="">Github</a></p>
            </figcaption><img src="" alt="sample8" />
            <div class="position">Front-End Team</div>
          </figure>
          <figure class="snip0056 back">
            <figcaption>
              <h2>Muhammad <span>Arras</span> &nbsp; <span>F2247D202</span></h2>
              <p class="linkedin back"><a href="">Linkedin</a></p>
              <p class="linkedin back"><a href="">Github</a></p>
            </figcaption><img src="../img/arras.jpg" alt="sample8" />
            <div class="position">Back-End Team</div>
          </figure>
          <figure class="snip0056 back">
            <figcaption>
              <h2>Ida Bagus <span>Bayu</span> Mahayana&nbsp; <span>F2350D331</span></h2>
              <p class="linkedin back"><a href="">Linkedin</a></p>
              <p class="linkedin back"><a href="">Github</a></p>
            </figcaption><img src="../img/dika.png" alt="sample8" />
            <div class="position">Back-End Team</div>
          </figure>
        </div>

    </main>

    <footer>
        Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
    </footer>
</body>

</html>
<script>
    /* Navbar Menu SLider*/
    const menuToggle = document.querySelector('.menu-toggle input');
    const nav = document.querySelector('nav ul');

    menuToggle.addEventListener('click', function () {
        nav.classList.toggle('slide');
    });
</script>