<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    <link rel="stylesheet" href="../scripts/style/responsive.css">
    
</head>
<body>
  
    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>
                <ul class="nav__list">
                    <li><a href="../templates/wisata.html" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="../templates/saran.html" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
                <div class="menu-toggle">
                    <input type="checkbox">
                    <span class="m1"></span>
                    <span class="m2"></span>
                    <span class="m3"></span>
                </div>
            </nav>
        </div>
    </header>


    <!-- HERO ELEMENT -->
    
    <main>
        <div class="herod-cont">
            <div class="hero__detail">
                <img src="../img/OIP.jpg" alt="">
            </div>
        </div>
        <div class="detailed__container">
            <div class="detailed__judul">Gunung Rinjani
            </div>
        </div>
        <div class="detailed__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi ipsam exercitationem alias earum aut. Animi iure dolores odit expedita laudantium, tenetur porro vel adipisci? Cupiditate fugiat autem vitae nobis dicta?</div>
        <div class="lok-cont">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <div class="detailed__lok">Tes LOkasi 123</div>
        </div>
        <div class="cont-mapcom">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126268.79781573625!2d116.6398495!3d-8.5090966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcc384ce8824825%3A0xd19b6482b435ed3d!2sKec.%20Pringgabaya%2C%20Kabupaten%20Lombok%20Timur%2C%20Nusa%20Tenggara%20Bar.!5e0!3m2!1sid!2sid!4v1656770273173!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-detail">
        </iframe>
        <div class="cont-com">
            <div class="cont-tambah">
                <p>Komentar</p>
                <a href="/#/tambahkomentar">Tambah Komentar</a>
            </div>
            <div class="container-coment">
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                <div class="coment">
                    <div class="com-nama">Tes</div>
                    <div class="com-email">mxkasdok@gmail.com</div>
                    <div class="com-tgl">2022-06-30T15:22:37.000Z</div>
                    <div class="com-komentar">tes komentar</div>
                </div>
                
            </div>
        </div>
        </div>
        
        
    </main>
<footer>
    Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
</footer>
</body>
</html>
<script>
    /* Navbar Menu SLider*/
    const menuToggle = document.querySelector('.menu-toggle input');
    const nav = document.querySelector('nav ul');
    
    menuToggle.addEventListener('click', function() {
        nav.classList.toggle('slide');
    });
</script>

