<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    
</head>
<body>
  
    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>
                <ul class="nav__list">
                    <li><a href="../templates/wisata.html" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="#" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
            </nav>
        </div>

        <!-- App Navbar -->
        <nav id="drawerMob" class="navMobile">
            <ul class="nav__list">
            </ul>
        </nav>
    </header>


    <!-- HERO ELEMENT -->
    <div class="hero">
        <h1 class="hero__judul">Wisata dan Budaya</h1>
        <p class="hero__desc">di daerah pulau lombok</p>
    </div>
    <main>
        <div class="landing__container">
            <div class="mandalika">

            </div>

            <div class="mandalika__desc">
            <a href=""><h1>The Mandalika, Kuta Lombok</h1></a>
            <p>Kawasan wisata ini berdekatan dengan beberapa pantai indah yang ada di sebelah selatan pulau Lombok. Masih bersuasana alam asli yang belum terlalu banyak terjamah, wilayah ini begitu kaya dengan keindahan hamparan pesisir pantai yang luas, lengkap dengan kelembutan pasir putihnya. Mulai dari Pantai Kuta Mandalika, Pantai Seger, Pantai Serenting, Putri Nyale, Pantai Tanjung Aan, sampai Pantai Gerupuk, semua siap memanjakan Anda sekeluarga.</p>
            </div>

        </div>
    </main>
<footer>
    Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
</footer>
</body>
</html>
