<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scripts/style/main.css">
    
</head>
<body>
  
    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>

                <ul class="nav__list">
                    <li><a href="#" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="#" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
            </nav>
        </div>

        <!-- App Navbar -->
        <nav id="drawerMob" class="navMobile">
            <ul class="nav__list">
            </ul>
        </nav>
    </header>

    <main id="content">
        <div class="content__container">
            <div class="box-tengah" style="box-shadow:0px 3px 9px 0px black ; background-color:rgb(235, 232, 232); border-radius: 20px;">
                <form action="">
                <h1 style="color: #6E60A8; font-size: 25px;"><b>Saran Wisata & Budaya Baru</b> </h1>
                <input type="text" class="saranInput" placeholder="Nama"  >
                <input type="text" class="saranInput" placeholder="Email" >
                <input type="text" class="saranInput" placeholder="Saran Wisata & Budaya" >
                <input type="text" class="saranInput" placeholder="Lokasi">
                <button class="submit">Submit</button>
            </form>
            </div>
            
        </div>
    </main>
    <footer>
        Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
    </footer>
</body>
</html>
