<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    <link rel="stylesheet" href="../scripts/style/responsive.css">

</head>

<body>

    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>

                <ul class="nav__list">
                    <li><a href="../templates/wisata.html" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="../templates/saran.html" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
                <div class="menu-toggle">
                    <input type="checkbox">
                    <span class="m1"></span>
                    <span class="m2"></span>
                    <span class="m3"></span>
                </div>
            </nav>
        </div>
    </header>

    <main id="content">
        <div class="content__container">
            <div class="box-tengah">
                <div class="judul__form">Saran Wisata & Budaya Baru</div>
                <form action="" class="formSaran">
                    <input type="text" class="saranInput" placeholder="Nama">
                    <input type="text" class="saranInput" placeholder="Email">
                    <input type="text" class="saranInput" placeholder="Saran Wisata & Budaya">
                    <input type="text" class="saranInput" placeholder="Lokasi">
                    <button class="submit" id="submitSaran">Tambah Saran</button>
                </form>
            </div>

        </div>
    </main>
    <footer>
        Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
    </footer>
</body>

</html>
<script>
    /* Navbar Menu SLider*/
    const menuToggle = document.querySelector('.menu-toggle input');
    const nav = document.querySelector('nav ul');

    menuToggle.addEventListener('click', function() {
        nav.classList.toggle('slide');
    });
</script>