<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    
</head>
<body>
  
    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="" class="nav__logo" alt="logo">
                </a>

                <ul class="nav__list">
                    <li><a href="#" class="nav__item">Wisata</a></li>
                    <li><a href="#" class="nav__item">Budaya</a></li>
                    <li><a href="#" class="nav__item">Saran</a></li>
                    <li><a href="#" class="nav__item">AboutUs</a></li>
                </ul>
            </nav>
        </div>

        <!-- App Navbar -->
        <nav id="drawerMob" class="navMobile">
            <ul class="nav__list">
            </ul>
        </nav>
    </header>

    <main id="content">
        <div class="content__container">
            <div class="judul">
                Destinasi Wisata
            </div>
            <div class="wisata_detail_container">
                <div class="wisata_detail">
                    <a href="">Pantai</a>
                </div>
                <div class="wisata_detail">
                    <a href="">Gunung & Bukit</a>
                </div>
                <div class="wisata_detail">
                    <a href="">Air Terjun</a>
                </div>
                <div class="wisata_detail">
                    <a href="">etc.</a>
                </div>
            </div>
        </div>
        
        <div class="detail__container">
            <div class="detail__item" href="">
                <img src="../img/OIL.jpg" alt="asdasd">
                <a href="../templates/detail.html">Rinjani</a>
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">Rinjanooo</a>   
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">tes123123</a>
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">tes123123</a>
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">tes123123</a>
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">tes123123</a>
            </div>
            <div class="detail__item">
                <img src="../img/OIP.jpg" alt="asdasd">
                <a href="">tes123123</a>
            </div>

        </div>
    </main>
<footer>
    Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
</footer>
</body>
</html>
