<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <title>Beauty Of Lombok</title>
    <link rel="stylesheet" href="../scripts/style/main.css">
    <link rel="stylesheet" href="../scripts/style/responsive.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    
</head>
<body>
  
    <header>
        <div class="header__inner">
            <!-- Desktop Navbar -->
            <nav id="drawer" class="navDesktop">
                <a href="./index.html">
                    <img src="../img/logo panjang.png" class="nav__logo" alt="logo">
                </a>

                <ul class="nav__list">
                    <li><a href="../templates/wisata.html" class="nav__detail__item">Wisata</a></li>
                    <li><a href="#" class="nav__detail__item">Budaya</a></li>
                    <li><a href="../templates/saran.html" class="nav__detail__item">Saran</a></li>
                    <li><a href="#" class="nav__detail__item">AboutUs</a></li>
                </ul>
                <div class="menu-toggle">
                    <input type="checkbox">
                    <span class="m1"></span>
                    <span class="m2"></span>
                    <span class="m3"></span>
                </div>
            </nav>
            <button id="menu" class="header__menu" href="#" aria-label="navigation-menu">☰</button>
        </div>
    </header>

    <main>
        <div class="content__container__wisata">
            <div class="judul">
                Destinasi Wisata
            </div>
            <div class="wisata_detail_container">
                <div class="wisata_detail">
                    <a href="">Pantai</a>
                </div>
                <div class="wisata_detail">
                    <a href="">Gunung</a>
                </div>
                <div class="wisata_detail">
                    <a href="">Air Terjun</a>
                </div>
                <div class="wisata_detail">
                    <a href="">etc.</a>
                </div>
            </div>
        </div>
        
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="detail__item swiper-slide" href="">
                    <img src="../img/OIL.jpg" alt="asdasd">
                    <a href="../templates/detail.html">Rinjani</a>
                </div>
                

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        
        <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 30,
        slidesPerGroup: 2,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    </main>
<footer>
    Beauty Of Lombok, Copyright &copy; 2022 by CPSG-68
</footer>
</body>
</html>
<script>
    /* Navbar Menu SLider*/
    const menuToggle = document.querySelector('.menu-toggle input');
    const nav = document.querySelector('nav ul');
    
    menuToggle.addEventListener('click', function() {
        nav.classList.toggle('slide');
    });
</script>
